<?xml version="1.0" encoding="utf-8"?>
<PlcDomainConfigurationDocument xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" schemaVersion="1.0" xmlns="http://www.phoenixcontact.com/schema/plcconfig">
  <Project name="AXCF_Test2BK_1" id="7c991a31-e8e0-4e84-b7d5-d87696d8b019" version="1.4.0.12" />
</PlcDomainConfigurationDocument>