<?xml version="1.0" encoding="UTF-8"?>
<AcfConfigurationDocument
  xmlns="http://www.phoenixcontact.com/schema/acfconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/acfconfig.xsd"
  schemaVersion="1.0" >

  <Processes>
<!--<Process Name>  : Replace with plcnext process name -->
<!--<App Identifier>: Replace with the App Identifier -->
<!--<Process Binary Path>: + Replace with the process executable (to this config file) relative path. E.g.: DemoRuntime -->
<!--                       + otherwise the absolute full path can be given. E.g.: $ARP_ACTIVE_APPS_DIR$/<App Identifier>/Demo/DemoRuntime -->
<!--<Acf settings path>: (To the run executable file) relative path of the acf settings file. E.g.: DemoDefault.acf.settings (both files in same folder)-->
    <Process name="<Process Name>" 
             binaryPath="<Process Binary Path>" 
             workingDirectory="$ARP_APPS_DATA_DIR$/<App Identifier>"
             args="<Acf settings path>"/>
    </Processes>

<!-- Only PLCnext libraries are allowed -->
<!-- Environment variable ARP_BINARY_DIR for already exixting PLCnext libs on the PLCnext-Device-->
<!-- Different Environment variable than ARP_BINARY_DIR for PLCnext libs in a App-Container-->
  <Libraries>
    <Library name="Arp.Plc.AnsiC.Library" binaryPath="$ARP_BINARY_DIR$/libArp.Plc.AnsiC.so" />
  </Libraries>

<!-- only PLCnext components are allowed -->
<!--<Process Name>  : Replace with plcnext process name -->
  <Components>
<!--AnsiCComponent must be loaded if access to Plc via AnsiC-Api is needed! -->
    <Component name="Arp.Plc.AnsiC" type="Arp::Plc::AnsiC::AnsiCComponent" library="Arp.Plc.AnsiC.Library" process="<Processs Name>">
      <Settings path="" />
    </Component>
<!--PlcDomainProxyComponent must be loaded if access to Plc via AnsiC-Api is needed! -->
    <Component name="Arp.Plc.DomainProxy.IoAnsiCAdaption" type="Arp::Plc::Domain::PlcDomainProxyComponent" library="Arp.Plc.Domain.Library" process="<Process Name>">
      <Settings path="" />
    </Component>
  </Components>
  
</AcfConfigurationDocument>
