<?xml version="1.0" encoding="UTF-8"?>
<AcfConfigurationDocument
  xmlns="http://www.phoenixcontact.com/schema/acfconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/acfconfig.xsd"
  schemaVersion="1.0" >

  <!-- <Library Name> : Replace with Library Name. E.g.: "Arp.Services.Wbm.Library" -->
  <!-- <Library Path> : Replace with (to this config file) relative Library Path. E.g.: "libArp.Services.Wbm.so"-->   
  <Libraries>
    <Library name="<Library Name>" binaryPath="<Library Path>" />
  </Libraries>
  
  <!-- <Component Name> : Replace with Component Name. E.g.: "Arp.Services.Wbm" -->
  <!-- <Component type> : Replace with Component Type. E.g.: "Arp::Services::Wbm::WbmComponent" -->
  <!-- <Library Name>   : Replace with Library Name. E.g.: "Arp.Services.Wbm.Library" -->
  <!-- <Support Con>    : (optional) Replace with Support condition environment variable. E.g.: "$ARP_COMPONENT_WBM$" -->
  <!-- <Settings Path>  : (optional) Replace with (to this config file) relative component Settings Path. E.g.: "" -->
  <Components>
    <Component name="<Component Name>" type="<Component type>" library="<Library Name>" process="" condition="<Support Con>">
      <Settings path="<Settings Path>" />
    </Component>

  </Components>

</AcfConfigurationDocument>
