<?xml version="1.0" encoding="utf-8"?>
<EsmConfigurationDocument xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" schemaVersion="1.0" xmlns="http://www.phoenixcontact.com/schema/esmconfig">
  <Tasks>
    <CyclicTask name="test" stackSize="0" priority="0" cycleTime="100000000" watchdogTime="100000000" executionTimeThreshold="0" />
  </Tasks>
  <EsmTaskRelations>
    <EsmTaskRelation esmName="ESM1" taskName="test" />
  </EsmTaskRelations>
  <Programs>
    <Program name="test1" programType="test" componentName="Arp.Plc.Eclr" />
  </Programs>
  <TaskProgramRelations>
    <TaskProgramRelation taskName="test" programName="Arp.Plc.Eclr/test1" order="0" />
  </TaskProgramRelations>
  <TaskEvents />
</EsmConfigurationDocument>